body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 99vh;
    width: 99vw;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: darkgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:aliceblue;
}

.Intro{
    font-family: fantasy;
    font-size: 48px;
    background-image: linear-gradient(rgb(199, 223, 245), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.results{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-board {
    font-size: 48px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.retry-div{
    text-align: center;
}

.retry {
    display:none;
}

.retry.gameover{
    display:inline;
    padding: 12px 12px;
    margin-top: 24px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bolder;
    color:aliceblue;
    background-color: black;
    border-style: double;
    transition: 2s;
}

.retry.gameover:hover{
    transform:scale(1.2);
    background-color: honeydew;
    color:black;
}

.gamebtn{
    height:200px;
    width:200px;
    border-style: solid;
    border-radius: 25px;
    transition: 1s;
    border-width: 5px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

 .gamebtn:hover{
    border-color: white;
    transform: scale(1.25);
    background-size: 250px 250px;
    margin: 25px;
}

.gamebtn.rock{
    background: url("./images/rock_icon.png");
    background-size: 200px 200px;
    background-color: rgb(2, 35, 180);
}

.gamebtn.paper{
    background: url("./images/paper_icon.png");
    background-size: 200px 200px;
    background-color: orange;
}

.gamebtn.scissors{
    background: url("./images/scissors_icon.png");
    background-size: 200px 200px;
    background-color: rgb(0, 117, 20);
}

