body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 99vh;
    width: 99vw;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
}

.retry {
    display:none;
}

.retry.gameover{
    display:inline;
}